@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
padding: 0;
margin: 0;
background-color: black;
color: white;
}

.col-6.artist-bio-div {
border: solid 1px #585858;
padding: 20px 15px;
max-width: 45%;
margin-left: 20px;
}

#artists{
font-family: Orbitron;
    letter-spacing: 1px;
    font-size: 20px;
    color: #ff58ac;
    border: solid 0.5px #3f83ff;
    margin-top: 15px;
}

#artist-name{
    font-size: 40px;
    font-family: 'Orbitron';
    letter-spacing: 2px;
}

#artist-description-p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
    color: white;
}

#heading-divider{
    width: 30%;
    border: solid .5px#ff58ac;
    margin: 0 auto 50px;
}

#artist-image-div{
  background: url("../images/birds-eye-view-of-city.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 500px;
  height: 650px;
  position: relative;
  margin: 0 auto;
  zoom: 140%;
}


.general-container{
    text-align: center;
}

.page-heading {
font-family: 'Orbitron', sans-serif;
font-size: 60px;
letter-spacing: 2px;
text-align: center;
margin-top: 30px;
margin-bottom: 0;

}
.heading-paragraph{
font-family: 'Orbitron', sans-serif;
font-size: 16px;
letter-spacing: 1px;
text-align: center;
margin-bottom: 20px;
color: #3f83ff;
}

#album-images-container{
margin-top: 30px;
border: solid .5px #3f83ff;
}


.album-img{
    height: 150px;
    padding: 30px 15px;
}
